<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	
	{import type="css" file="static.css" basepath="/thinkphp5/public" }
</head>
<body>
	<header>
		<ul>
			<li><a href={:url('index/index')}>首页</a></li>
			<li><a href={:url('type/index')}>分类</a></li>
			<li><a href={:url('shopcar/index')}>购物车</a></li>
			<li><a href={:url('user/index')}>{$username | default="个人中心"}</a></li>
		</ul>
	</header>
	<div class="top"></div>
	
	<div class="container">
			{$emptyInform|default=""}
			{volist name='goodsList' id='good'}
			<div class="goods">
				<img src='/thinkphp5/public/static/{$good.imgurl}'>
				<p class="goodName">{$good.name}</p>
				<p class="goodid">商品id:{$good.goodid}</p>
				<p class="price">价钱:{$good.price}</p>
				<p class="price">加入购物车时间:{$good.time}</p>
				<p class="join"><a href={:url('shopcar/buy',['id'=>$good.id])}>购买</a></p>
				<p class="join"><a href={:url('shopcar/delete',['id'=>$good.id])}>删除</a></p>
			</div>
			{/volist}
	</div>
</body>
</html>