<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	{import type="css" file="css" basepath="/thinkphp5/public/static"}
</head>
<body>
	<header>
		<ul>
			<li><a href={:url('index/index')}>首页</a></li>
			<li><a href={:url('type/index')}>分类</a></li>
			<li><a href={:url('shopcar/index')}>购物车</a></li>
			<li><a href={:url('user/index')}>个人中心</a></li>
		</ul>
	</header>
	<div class="top"></div>



	<div class="container">
		<h2>个人资料</h2>
		<form action={:url('user/modify')} method="post">
			<label>手机号</label><input type="text" name='phone' value={$phone|default=''}>
			<label>邮箱</label><input type="text" name='email' value={$email|default=''}>
			<input type="submit" value="修改">
		</form>
		<h2>我的足迹</h2>
		{$emptyInform|default=""}
		{volist name='goodsList' id='good'}
		<div class="goods">
			<img src='/thinkphp5/public/static/{$good.imgurl}'>
			<p class="goodName">{$good.name}</p>
			<p class="price">价钱:{$good.price}</p>
			<p class="price">购买时间:{$good.time}</p>
			<p class="join"><a href={:url('shopcar/join',['id'=>$good.id])}>加入购物车</a></p>
		</div>
		{/volist}
	</div>
	
</body>
</html>